/******************************************************************INICIO DE GLOBALES DEL PROYECTO***************************************************************************/
/* FUENTE DE TODAS LAS VISTAS */
.FontDesign {
    font-family: "Doppio One", serif;
    font-weight: 400;
    font-style: normal;
}

/* FUENTE TITULO DEL NAVBAR */
.SereniaTitle {
    font-family: "Dancing Script", serif;
    font-size: 70px;
    text-decoration: none;
    margin: 10px;
}

/* BOTONES GRISES */
.custom-btn-grey {
    background: #484848;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 0.80rem;
}

.custom-btn-grey:hover {
    background: linear-gradient(45deg, #00131a, #898787);
    transform: scale(1.05);
    color: #ffffff;
}

/* BOTÓN AMARILLO PERSONALIZADO */
button.custom-btn-yellow {
    background-color: #d6a810;
    /* Amarillo más oscuro para el estado normal */
    border: none;
    color: white;
    /* Texto blanco */
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 0.85rem;
}

/* Hover para el botón amarillo */
.custom-btn-yellow:hover {
    background-color: #fad43b;
    /* Amarillo más brillante al pasar el ratón */
    transform: scale(1.05);
    /* Efecto de ampliación */
    color: white;
    /* El texto sigue siendo blanco */
}

/* DISEÑO ICONOS DEL NAVBAR */
/* Diseño icono reservas: */
.icon-app {
    transition: transform 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease-in-out;
    color: #FFFFFF;
}

.icon-app:hover {
    transform: scale(1.2);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.6);
    animation: bounce 0.4s ease;
}

@keyframes bounce {
    0% {
        transform: scale(1.2) translateY(0);
    }

    50% {
        transform: scale(1.3) translateY(-5px);
    }

    100% {
        transform: scale(1.2) translateY(0);
    }
}

/* DISEÑO BOTONES ROJOS */
.custom-btn-red {
    background: #a22020;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 0.80rem;
}

.custom-btn-red:hover {
    background: linear-gradient(45deg, #00131a, #cb0000);
    transform: scale(1.05);
    color: #ffffff;
}

.custom-btn-red:focus {
    outline: none;
}

/* BOTONES AZULES */
.custom-btn {
    background: #30728A;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 0.80rem;
}

.standard-button-shape {
    border: none;
    color: white;
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-btn:hover {
    background: linear-gradient(45deg, #00131a, #00b0cb);
    transform: scale(1.05);
    color: #ffffff;
}

.custom-btn:focus {
    outline: none;
}

/******************************************************************CIERRE DE GLOBALES DEL PROYECTO***************************************************************************/
/*********************************************************************INICIO PATRON DEL NAVBAR*******************************************************************************/
.navBarfooterConfig {
    background-color: #30728A;
    background-image: url("https://www.transparenttextures.com/patterns/swirl.png");
    background-repeat: repeat;
    background-size: 70px 70px;
    filter: contrast(1.2);
}

/**********************************************************************CIERRE PATRON DEL NAVBAR******************************************************************************/
.userProfileButton {
    background-color: #ffff;
    z-index: 1;
    border-style: solid;
    border-color: black;
    border-width: 2px;

}

.userProfileButton::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: -10%;
    left: 91%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffff transparent;
}

/*CSS del boton de funciones de perfil en el navBar*/
.navBarProfileButton {
    background-color: #ffff;
    border: none;
    height: 50%;
}

.navBarProfileButton:hover {
    height: 100%;
    background-color: #005f73;

}

.details-card img {
    border-radius: 20px;
}

.details-title {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

/*Configuracion de los inputs de busqueda*/

.searchBarConfig input {
    border-radius: 50px;
    min-height: 2rem;
    width: 10rem;
    min-width: 8rem;
    padding: 0;
    border: solid;
    border-color: rgb(226, 226, 226);
    border-width: 2px;
    box-shadow: 0px 0px 5px #888888;
}

.searchBarConfig label {
    font-weight: bold;
}


.searchBarConfig input:hover {
    border-color: black;
}

/*Configuracion del fondo de busqueda*/
.searchBackground {
    background-color: rgb(245, 245, 245);
    height: 100%;
}

.searchButton {
    width: 5rem;
    height: 2.5rem;
}



/*Configuracion de los paquetes de hoteles*/
.hotelPackageList {
    height: 100%;
}

.hotelPackageList .packageCard {
    border-radius: 20px;
    box-shadow: 10px 0px 15px #888888;
    text-overflow: ellipsis;
}

.packageCard .img-fluid{
    height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.detailsButton {
    min-height: 2rem;
    min-width: 8rem;
}

/*Map config*/
.map-wrap { 
    width: 100%;
    height: 100%
  }
  
  .map {
    width: 100%;
    height: 100%;
  }


/*Estilos de la pagina de reinicio de password*/

.customMargins {
    width: 30rem;
    height: 22rem;
    margin-top: 12rem;
    padding: 2rem;
    border: solid 2px;
    border-radius: 3%;
    border-color: black;
}

#emailAsk {
    width: 20rem;
    height: 14rem;
    margin-top: 12rem;
    padding: 2rem;
    border: solid 2px;
    border-radius: 3%;
    border-color: black;
}

.resetConfigForm input {
    width: 5rem;
    height: 6rem;
    border-radius: 10%;
    font-size: 4rem;
    text-align: center;
}

.resetConfigForm input:hover {
    width: 5rem;
    height: 6rem;
    padding-top: 2px;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.resetConfigForm button {
    width: 10rem;
    height: 3rem;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 50rem;
    background-color: #30728A;
    border: none;
}

/***********************************************************************INICIO DISEÑO VISTA RESERVAS***********************************************************************************/
/* DISEÑO CARDS: */
.reservation-card {
    background: white;
    border: 1px solid #333;
    border-radius: 3px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin-bottom: 15px;
    font-weight: 280;
    /* PARA PONER LETRA MÁS FINITA */
}

.imagen-hotel-reservas {
    object-fit: cover;
    height: 250px;
    width: 100%;
}

/************************************************************************CIERRE DISEÑO RESERVAS***************************************************************************************/
/************************************************************************INICIO DISEÑO DASHBOARD**************************************************************************************/
/* Estilo para las tarjetas de los hoteles */
.hotel-card {
    border: none;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hotel-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
}

/* Contenedor de imagen del hotel */
.hotel-img-container {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

/* DISEÑO IMAGENES DE HOTEL */
.hotel-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.hotel-img-container:hover .hotel-img {
    transform: scale(1.1);
}

.hotel-img-container:hover .overlay {
    display: block;
    opacity: 1;
}

/* DISEÑO SUBRAYADO AMARILLO */
.custom-underline {
    display: inline-block;
    text-align: center;
    border-bottom: 3px solid #ffe800;
}

/************************************************************************CIERRE DISEÑO DASHBOARD**************************************************************************************/
/**************************************************************************INICIO DISEÑO LOGIN****************************************************************************************/
#welcomePageTitleLogin {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    Color: rgb(0, 0, 0)
}

.colorTitle {
    font-weight: bold;
    font-size: 30px;
    color: #30728A;
}

.InputData {
    border: solid;
    border-radius: 20px;
    border-width: 2px;
    margin-bottom: 20px;
}

#botonLogin {
    min-width: 230px;
    max-width: 230px;
}

#botonForgotPassword {
    min-width: 230px;
    max-width: 230px;
    margin-bottom: 20px;
}

#sereniaPageTitleLogin {
    font-size: 3rem;
    font-weight: bold;
    color: #30728A;
}

/**************************************************************************CIERRE DISEÑO LOGIN****************************************************************************************/
/**************************************************************************INICIO DISEÑO NAVBAR****************************************************************************************/
@media (max-width: 768px) {
    .navbar-menu-btn {
        margin-bottom: 1rem;
    }
}

/**************************************************************************CIERRE DISEÑO NAVBAR****************************************************************************************/