/* Fuente del Proyecto */
.FontDesign{
    font-family: "Doppio One", serif;
  font-weight: 400;
  font-style: normal;
}


/* CSS DEL SIGN UP */
.btndashboard-signup {
    background-color: #6c757d;
    color: #ffffff;
    border-radius: 50rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    margin-right: 10px;
}
.btndashboard-signup:hover {
    color: #ffffff;
}
.btnlogin-signup {
    background-color: #30728A;
    border-color: #30728A;
    color: #ffffff;
    border-radius: 50rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
}

/* Fuente del titulo del navbar */
.SereniaTitle {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-size: 35px;
    text-decoration: none;
  }
  

.navBarConfig {
    background-color: #30728A; 
}

.userProfileButton {
    background-color: #ffff;
    z-index: 1;
    border-style: solid;
    border-color:black;
    border-width: 2px;

}

.userProfileButton::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: -10%;
    left: 91%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;  
    border-color: transparent transparent #ffff transparent;
}

/*CSS del boton de funciones de perfil en el navBar*/
.navBarProfileButton{
    background-color: #ffff;
    border: none;
    height: 50%;
}
.navBarProfileButton:hover{
    height: 100%;
    background-color: #005f73;

}