#sereniaPageTitleLogin {
    font-size: 3rem;
    font-weight: bold;
    color: #30728A;
}

#loginMessage {
    font-weight: bold;
    color: #B9B9B9;
}

#botonLogin {
    min-width: 230px;
    max-width: 230px;
    border: none;
    height: 40px;
    border-radius: 40px;
    background-color: #30728A;
}

#botonForgotPassword {
    min-width: 230px;
    max-width: 230px;
    border: none;
    height: 40px;
    border-radius: 40px;
    background-color: #484848;
}

#customMarginLogin {
    margin-top: 15vh;
    padding: 35px;
}