/* src/front/styles/userProfile.css */

.user-profile {
  display: flex;
}

.user-profile .sidebar {
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
}

.user-profile .sidebar ul {
  list-style: none;
  padding: 0;
}

.user-profile .sidebar li {
  margin-bottom: 20px;
}

.user-profile .sidebar li a {
  display: flex;
  align-items: center;
  color: #343a40;
  font-weight: 500;
}

.user-profile .sidebar li a:hover {
  color: #007bff;
}

.user-profile .sidebar li a .fa-icon {
  margin-right: 10px; /* Adjust the space between icon and text */
}

.user-profile .content {
  flex-grow: 1;
  padding: 20px;
}

.user-profile .view h2 {
  margin-top: 20px;
}
